@if(!isLoading && cars.length > 0){
  <div class="cars-list">
    @if(isLoading){
      <app-loader />
    }
    @if(!editingCar){
    <table>
      <thead>
        <tr>
          <th>Make & Model</th>
          <th>Year</th>
          <th>Category</th>
          <th>Reg. Number</th>
          <th>Daily Rate</th>
          <th>Fuel</th>
          <th>Transmission</th>
          <th>Seats</th>
          <th>Doors</th>
          <th>Available</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (car of cars; track $index) {
          <tr>
            <td>{{ car.make }} {{ car.model }}</td>
            <td>{{ car.makeYear }}</td>
            <td>{{ car.categoryName }}</td>
            <td>{{ car.regNumber }}</td>
            <td>{{ car.dailyRate}}</td>
            <td>{{ car.fuel }}</td>
            <td>{{ car.transmission }}</td>
            <td>{{ car.seats }}</td>
            <td>{{ car.doors }}</td>
            <td>{{ car.isAvailable ? 'Available' : 'Booked' }}</td> 
            @if(car.isAvailable){
              <td>
                <button (click)="enableEdit(car)" class="btn btn-edit">Edit</button> 
                <button (click)="deleteCar(car.id)" class="btn btn-delete">Delete</button> 
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  }@else {
    <app-edit-car 
        [car]="editingCar" 
        (save)="saveEdit($event)" 
        (cancel)="cancelEdit()">
    </app-edit-car>
  }
  </div>
}
  
@if(!isLoading && cars.length === 0){
  <div class="no-cars">
    <p>You have no cars listed.</p>
  </div>
}

  