.booking-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  input,
  select,
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
  }
  
  input[type="datetime-local"] {
    max-width: 100%;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  .form-button {
    width: 100%;
    padding: 10px 15px;
    background-color: rgb(244, 106, 129);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-button:hover {
    background-color: #fa9999;
  }
  