@if(isLoading)
{
<app-loader />
}
@if(errorMessage){
<div>{{ errorMessage }}</div>
}

@if(!isLoading && bookings.length > 0)
{
<div class="container">
  <table>
    <thead>
      <tr>
        <th>Car Make & Model</th>
        <th>Reg Number</th>
        <th>Pick Up Date & Time</th>
        <th>Drop Off Date & Time</th>
        <th>Duration</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (booking of bookings; track $index) {
      <tr>
        <td>{{ booking.carMake }} {{ booking.carModel }}</td>
        <td>{{ booking.regNumber }}</td>
        <td>{{ booking.pickUpDateAndTime }}</td>
        <td>{{ booking.dropOffDateAndTime }}</td>
        <td>{{ booking.duration }}</td>
        <td style="text-align: center;">
          @if(booking.isActive){
            <button (click)="cancelBooking(booking.id)">Cancel</button>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
}

@if(!isLoading && bookings.length === 0){
<div>
  You have no bookings at the moment.
</div>
}